<p id="notice"><%= notice %></p>

<%= image_tag @rig.image.url %>

<p>
  <strong>Name:</strong>
  <%= @rig.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rig.description %>
</p>

<%= link_to 'Edit', edit_rig_path(@rig) %> |
<%= link_to 'Back', rigs_path %>
